<main>
  <h2>
    Hello you!
  </h2>

  <p>
    You have prompted us to recover your password!
  </p>

  <a target="_blank" href="{{link}}">Click here to continue</a>

  <p>
    <b>Autocare</b>
  </p>
</main>